<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "author" content = "Annika Santhanam">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Annika Santhanam professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annika Santhanam</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <script defer src = "../static/script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload = "addYear()">
    <header>
        <h1 id = "webName">Annika Santhanam</h1>
        <nav id = "myTopnav" class = "topnav">
            <a href ="index.html">Home</a>
            <a href ="cv.html" class = "active">CV</a>
            <a href ="contact.html">Contact Me</a>
            <a href ="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars"></i>
 
              </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Activity</th><th>Year</th><th>Description</th></tr>
            
            <tr><td>CTO and Co-Founder, Likeable STEM LLC</td><td>2018-Present</td><td> - Company providing STEM education, on-site/online training for all ages, genders, races, and financial backgrounds <br> - Instructed 1500+ students, formed 30+ partnerships with libraries, nonprofits, universities (Carnegie Mellon, Kean, University of Toronto), Cyber.org, Counselors for Computing, National Center for Women & Information Technology</td></tr>
            
            <tr><td> Founder, #GotYourBack iOS App</td><td>2019-Present</td><td><strong>#GotYourBack Support Group (40+ active members)</strong><br>- Founded a club to advocate for food allergic families and bring awareness through newsletter articles, social media posts, fundraising, and community events <br> <strong>#GotYourBack iOS App (650 downloads)</strong><br>- Co-Founded and deveoped app from 2019-202. The app includes increient label scanning to detect allergens, geo-location API, emergency features, and FDA food allergy alerts</td></tr>
           
            <tr><td>Dietrich Student Advisory Board, CMU</td><td>2023-Present</td><td>- Member, works with Dietrich Administration to give ideas and improvements for the Dietrich College and subsequent programs</td></tr>

            <tr><td>Cadet Deputy Commander, Civil Air Patrol</td><td>2019-2023</td><td> - Cadet Deputy Commander of Aerospace/STEM, C/Major of NJ-102 Captain "Bud" Jackson Squadron<br>- Participated in the CyberPatriot Competition(2019-2023), ranked in the Platinum Round each year<br>- Director of the Video Task Force, created STEM Educational Videos published on a national level<br>-Cadet Deputy Commander of Aerospace/STEM, led AE-STEM education for 100+ cadets</td></tr>
        
            <tr><td>President, NJ District 6 Youth Advisory Council</td><td>2021-2023</td><td>- Worked directly with Congressman Pallone to lead team of tudents to create draft legislative agendas<br> - Leader of Healthcare Committee for the Legislative Agenda</td></tr>
        
            <tr><td>Instructor, Junior Police Academy (Edison, NJ)</td><td>2022-2023</td><td>- Instructor for Advanced Junior Police Academy, class of around 60 middle school recruits<br> - Class Leader of Edison Advanced Junior Police Academy, class of 30 high school recruits</td></tr>
        </table>

        <br>
        <br>
        <a href = "../static/Resume - Annika Santhanam - 2024.pdf" target = "_blank">My resume, PDF Version</a>
    </div>

    <footer>
        <p id = "copyYear"> Annika Santhanam &copy</p>
    </footer>
    
</body>
</html>