<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "author" content = "Annika Santhanam">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Annika Santhanam professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annika Santhanam</title>


    <link rel = "stylesheet" href = "../static/style.css">
    <script defer src = "../static/script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload = "addYear()">
    <header>
        <h1 id = "webName">Annika Santhanam</h1>
        <nav id = "myTopnav" class = "topnav">
            <a href ="index.html">Home</a>
            <a href ="cv.html">CV</a>
            <a href ="contact.html">Contact Me</a>
            <a href ="fun.html" class = "active">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars"></i>
 
              </a>
        </nav>
    </header>
    <div class = "mainFun">
        <div id = "item1">
            <h2>Things I love to do for fun</h2>
           <!-- <button id = "SeeMoreBTN" onclick = "showList()">Click to see...</button>-->

            <ul id = "FavList">
                <li>Build LEGOs!</li>
                <li>Play Guitar and Drums</li>
                <li>Watch Marvel Movies</li>
                <li>Hang out with my friends</li>
            </ul>

        </div>

        <div id = "item2">
        
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kqtD5dpn9C8?si=XeLIdiH_mSEhtJ8f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>

    <div id = "item3">
        <h3>My favorite places</h3>

        <div id="map"></div>

        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})

            ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly"});</script>


    </div>

    <div id = "item4">
        <img src = "../static/Fun_1.JPG" id = "funIMG">
    </div>

    <h2>Favorite Places in Pittsburgh</h2>
    <ul>
        <li>Carnegie Museum of Art</li>
        <li>Carnegie Museum of Natural History</li>
        <li>Heinz Hall</li>
        <li>Duquesne Incline</li>
    </ul>


        <h2>*Here are a few of my favorite things!*</h2>
        <ul>
            <li>Favorite Music: Alternative, pop, and rap</li>
            <li>Favorite Movie: Anything by Christopher Nolan</li>
            <li>Favorite Sport: Tennis</li>
            <li>Favorite Place: The Carnegie Museum of Natural History</li>
        </ul>



        <h2>Me and my people!</h2>
        <img src = "../static/Fun_2.JPG" width = "350px">
        <img src = "../static/Fun_3.JPG" width = "350px">

    </div>

    <footer>
        <p id = "copyYear"> Annika Santhanam &copy</p>
    </footer>
    
</body>
</html>